#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: bisque; */
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
